.accordian {
    border-radius: 0.625rem;
    border: 0.063rem solid #009187;
    background: rgba(0, 133, 124, 0.11);
    padding: 0.625rem 1.875rem;
    color: $font-color;
    &_header {
        @include flex(space-between, center);
        img {
            width: 1.8rem;
        }
    }
    &_body, &_footer {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }
    &_footer {
        @include flex(flex-end, center);
    }
    &--open {
        .accordian_icon {
            transform: rotate(180deg);
        }
        .accordian_body, .accordian_footer {
            opacity: 1;
            max-height: 12.5rem;
        }
        .accordian_footer {
            padding-bottom: 1.875rem;
        }
    }
}