.headBanner {
  text-align: center;
  position: relative;
  padding: 80px 0 0 0;
  height: 80vh;
  h1 {
    color: $hover-color;
    font-weight: 900;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &_title {
    font-size: 6rem;
    z-index: 0;
  }

  &_portrait {
    width: 450px;
    height: 580px;
    position: relative;
    z-index: 1;
  }

  &_name {
    font-size: 9rem;
    z-index: 2;
    margin-top: -30px;
  }
}