.btn {
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    background: $primary-color;
    color: $font-color;
    font-weight: bold;
    &:hover {
        background: $hover-color;
    }
    &--outline {
        background: $background-color;
        border: 1px solid $primary-color;
        &:hover {
            background: $hover-color;
        }
    }
}