.btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1.875rem;
    background: $primary-color;
    color: $font-color;
    font-weight: bold;
    display: inline-block;
    &:hover {
        background: $hover-color;
    }
    &--outline {
        background: $background-color;
        border: 0.063rem solid $primary-color;
        &:hover {
            background: $hover-color;
        }
    }
}