body {
  background: $background-color;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  color: $font-color;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.transition {
  transition: 0.5s;
}

.ml-1 {
  margin-left: 1.125rem;
}