@keyframes moveIcon {
    0% {transform: translateX(0); transform: translateY(0);}
    20% {transform: translateX(random(10)+px); transform: translateY(random(10)+px);}
    40% {transform: translateX(random(10)+px); transform: translateY(random(10)+px);}
    60% {transform: translateX(random(10)+px); transform: translateY(random(10)+px);}
    80% {transform: translateX(random(10)+px); transform: translateY(random(10)+px);}
    100% {transform: translateX(0); transform: translateY(0);}
}