@keyframes moveIcon {
    0% {transform: translateX(0); transform: translateY(0);}
    20% {transform: translateY(random(10)+px);}
    25% {transform: translateX(10px);}
    40% {transform: translateY(random(10)+px);}
    50% {transform: translateX(0);}
    60% {transform: translateY(random(10)+px);}
    75% {transform: translateX(-10px);}
    80% {transform: translateY(random(10)+px);}
    100% {transform: translateX(0); transform: translateY(0);}
}

@keyframes breathIcon {
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}