.movingIcon {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    &.main {
        animation-duration: 2s;
        @media screen and (max-width: 900px) {
            width: 50px;
            height: 50px;
            top: 45% !important;
        }
        @media screen and (max-width: 600px) {
            width: 40px;
            height: 40px;
            top: 40% !important;
        }
    }
}