.navbar {
    width: 100%;
    padding: 2rem 1rem;
    background: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &_container {
        text-align: center;
        position: relative;
    }
    &_logo {
        position: absolute;
        left: 0;
        // top: 0;
        img {
            width: 8rem;
            height: 2rem;
        }
    }
    &_links {
        a {
            font-weight: bold;
            color: $font-color;
            font-size: 1.3rem;
            padding: 5px 25px;
            letter-spacing: 0.15rem;
            transition: 0.5s;
            &:hover {
                color: $hover-color;
            }
        }
    }
    &_mobile {
        display: none;
        text-align: right;
        list-style-type: none;
        transition: height 1s;
        height: 0;
        overflow: hidden;
        margin: 0;
        &.active {
            height: auto;
            li {
                padding: 0.625rem;
                &:first-child {
                    margin-top: 0.625rem;
                }
            }
        }
        @media screen and (max-width: 600px) {
            display: block;
        }
    }
}