.navbar {
    width: 100%;
    padding: 0.625rem 1rem;
    background: rgba(217, 217, 217, 0.14);
    @include flex(space-between, center, row, wrap, flex !important);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    &_logo {
        img {
            width: 4.688rem;
            height: 4.688rem;
        }
    }
    &_links {
        ul {
            @include flex(space-around, center, row, wrap, flex !important);
            list-style-type: none;
        }
        a {
            color: $font-color;
            font-size: 0.75rem;
            padding: 5px 10px;
        }
        li:nth-child(2) {
            a {
                padding-right: 20px;
            }
        }
    }
}