.projects {
    margin-top: 6.25rem;
    h1 {
        font-size: 3rem;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-bottom: 6.25rem;
    }
    .projects-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .project {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 50%;
            margin-bottom: 1.875rem;
            @media screen and (max-width: $mobile-max-width) {
                width: 100%;
                padding: 1rem 5rem;
            }
            .thumbnail {
                width: 30%;
                padding: 0 1.875rem;
                img {
                    width: 80%;
                    height: auto;
                    border-radius: 1.25rem;
                }
                @media screen and (max-width: $mobile-max-width) {
                    padding: 0;
                }
            }
            .details {
                width: 70%;
                h2 {
                    margin: 0;
                }
                p {
                    color: $hover-color;
                }
                .skills {
                    display: flex;
                    justify-content: flex-start;
                    gap: 1.25rem;
                    align-items: center;
                    flex-wrap: wrap;
                    .skill {
                        padding: 0.625rem;
                        border: 0.063rem solid $font-color;
                        border-radius: 6.25rem;
                    }
                }
            }
        }
    }
}