.SocialMediaList {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1.25rem 0.938rem 0 0.938rem;
    background: $primary-color;
    position: fixed;
    left: 0;
    top: 6.25rem;
    z-index: 10;
    .SocialMediaIcon {
        display: block;
        padding-bottom: 1.25rem;
    }
}