.SocialMediaList {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1.25rem 0.938rem 0 0.938rem;
    background: transparent;
    position: fixed;
    left: 2rem;
    top: 10rem;
    z-index: 10;
    .SocialMediaIcon {
        display: block;
        padding-bottom: 1.25rem;
        width: 1.5rem;
        &_image {
            width: 100%;
        }
    }
}